@import '~@fortawesome/fontawesome-free/css/brands';
@import '~@fortawesome/fontawesome-free/css/regular';
@import '~@fortawesome/fontawesome-free/css/solid';
@import '~@fortawesome/fontawesome-free/css/fontawesome';

.brand-logo {
    padding-left: 15px !important;
}

@media only screen and (max-width:992px) {
    .brand-logo {
        padding-left: 0px !important;

    }
}

.logo-label {
    text-shadow: 2px 2px 5px black !important;
    display: inline-block;
    top: 0;
    font-size: 15pt;
    font-stretch: expanded;
    font-weight: 700;
    vertical-align: top;
    letter-spacing: 1px;
}

.bg-riga-landing {
    position: absolute;
    top: -64px;
    width: 102%;
    height: 102%;
    z-index: -10;
    background-image: url('/img/riga.jpg');
    background-position: center top;
    background-size: cover;
    filter: opacity(0.5);
    filter: blur(3px);
    -webkit-filter: blur(3px) opacity(0.6);
    margin: -5px -10px -10px -5px;
}

nav {
    position: fixed;
    top: 0;
    backdrop-filter: blur(4px);
    z-index: 9999;
}
/* 
nav .bg-transparent {

    border-bottom: 2px solid #26a69a;
} */

.landing-section {
    padding-top:64px;
    height: 100vh;
    min-height:800px;
    /* overflow: hidden; */
    position: relative;
    margin-bottom: -100px;
    overflow-x: hidden;
}

.text-dark-ritters {
    color: #5d4037 !important;
}

.bg-dark-ritters {
    background-color: #5d4037 !important;
}

.text-light-ritters {
    color: #dfd7d4 !important;
}

.text-cta {
    color: #26a69a !important;
}

.bg-light-ritters {
    background-color: #dfd7d4 !important;
}

.text-white {
    color: white !important;
}

.text-center {
    text-align: center !important;
}

.font-weight-bold {
    font-weight: bold !important;
}

.text-left {
    text-align: left !important;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.105) !important;

}

.shadow {
    -webkit-box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.38);
    box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.38);
}

h1 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 3.8rem;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.105) !important;

}

h2 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 24pt;
    text-align: center;
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.105) !important;

}

.property-form-section {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px !important;
    -webkit-box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.38);
    box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.38);
    color: white !important;
}

input[type="text"] :focus,
label.active {
    /* color:#dfd7d4 !important; */
}

.ritters-header {
    font-size: 25pt;
    margin: 15vh auto 1.5rem auto;
    font-weight: 600;
}

input {
    color: #dfd7d4 !important;
}

.select-wrapper .caret {
    fill: #dfd7d4 !important;

}

label {
    color: #dfd7d4 !important;
}

.btn-confirm {
    border: 2px solid #26a69a;
}

.bg-transparent {
    background-color: #5d4037eb !important;
}

label span::before {
    border-color: #dfd7d4 !important;
}

[type="checkbox"]:checked+span:not(.lever):before {
    border-top: 2px solid transparent !important;
    border-left: 2px solid transparent !important;
    border-right: 2px solid #26a69a !important;
    border-bottom: 2px solid #26a69a !important;
}

.advantages .col {
    height: 100%;
    display: table-cell !important;
}

.advantages-content {
    padding: 25px 20px;
    height: 90%;
    color: white;
    -webkit-transition: box-shadow .25s, -webkit-box-shadow .25s, opacity 2s, filter .25s, -webkit-filter .25s !important;
    -moz-transition: box-shadow .25s, -webkit-box-shadow .25s, opacity 2s, filter .25s, -webkit-filter .25s !important;
    -o-transition: box-shadow .25s, -webkit-box-shadow .25s, opacity 2s, filter .25s, -webkit-filter .25s !important;
    -ms-transition: box-shadow .25s, -webkit-box-shadow .25s, opacity 2s, filter .25s, -webkit-filter .25s !important;
    transition: box-shadow .25s, -webkit-box-shadow .25s, opacity 2s, filter .25s, -webkit-filter .25s !important;
    opacity: 0;
}

.advantages-active {
    opacity: 1;
}

.advantages-content h4 {
    font-size: 23pt;
    text-align: center;
}

.advantages {
    margin-top: 25px;
    display: table;
    height: 270px;
}

.element-center {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
    text-align: center;
}

.about-us,
.section-cta {
    position: relative;
    margin: 60px auto;
    width: 100%;
    height: 67vh;
    box-sizing: border-box;
}

.section-cta {
    margin-bottom: 0;
    height: auto !important;
}

.section-cta .container {
    padding: 60px 0;
    display: block;
}

.contact-container {
    border-top: 2px solid #5d4037 !important;
    padding-top: 0 !important;
    display: table;
    width: 100% !important;
    margin: 0;
}

.contacts {
    padding: 40px 50px !important;
    text-align: right;
    display: table-cell;
    vertical-align: center;
}

.hoverable:hover i {
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.235)) !important;
}

footer {
    padding: 30px;
}

.panorama-overlay {
    background-image: url('/img/panorama.png');
    background-position: center top;
    background-size: cover;
    position: absolute;
    z-index: -999;
    bottom: -70px;
    width: 100%;
    height: 300px;
    filter: opacity(0.08);
    filter: blur(1px);
    -webkit-filter: blur(1px) opacity(0.08);
}

.transition {
    opacity: 0;
    -webkit-transition: box-shadow .25s, -webkit-box-shadow .25s, opacity 2s, filter .25s, -webkit-filter .25s !important;
    -moz-transition: box-shadow .25s, -webkit-box-shadow .25s, opacity 2s, filter .25s, -webkit-filter .25s !important;
    -o-transition: box-shadow .25s, -webkit-box-shadow .25s, opacity 2s, filter .25s, -webkit-filter .25s !important;
    -ms-transition: box-shadow .25s, -webkit-box-shadow .25s, opacity 2s, filter .25s, -webkit-filter .25s !important;
    transition: box-shadow .25s, -webkit-box-shadow .25s, opacity 2s, filter .25s, -webkit-filter .25s !important;
}

.active {
    opacity: 1;
}

@media only screen and (max-width: 600px) {
    .property-form-section {
        width: 98% !important;
    }

    .select-wrapper input.select-dropdown, .input-field>label  {
        font-size:12px !important;
    }
}
@media only screen and (max-width: 993px) {
    .advantages {
        height:auto !important;
    }
    .advantages .col {
        float: none;
        position: inherit;
        width: 100% !important;
        display: block !important;
        margin:10px auto !important;
        max-width: 400px !important;
    }
    .about-us {
        height:auto;
    }
}
@media only screen and (max-width: 470px) {
    .ritters-header {
        margin: 45px auto;
        font-size:19pt;        
        

    }
    .element-center{
        margin-bottom: 50px !important;
    }
    #landing-section {

    }
}
@media only screen and (max-width: 350px) {
    .property-form-section {
        width: 100% !important;
    }

    .select-wrapper input.select-dropdown, .input-field>label   {
        font-size:10px !important;
    }
}

@media only screen and (min-width: 994px) {
    h1 {
        font-size:34pt !important;
    }
}

footer {
    position: relative;
    padding: 0 !important;
}

.bg-overlay {
    position: absolute !important;
    background-image: url('/img/blackheaded.jpg');
    /* bottom:0; */
    top:0;
    background-position: center center;
    background-size: cover;
    filter: opacity(0.4) blur(2px) saturate(0);
    z-index: -99;
    height: 644px;
    width: 100%;
}


select {
    display:inline-block !important;
    height:0;
    opacity: 0;
    padding:0;
    margin: 0;
    position: absolute;
    left:0;
    top: 55px;
}